body {
    background-color: #88AB8E;
    font-family: Tahoma, Verdana, sans-serif;
    color: #EEE7DA;
    font-size: larger;
}

h1 {
    color: #EEC759;
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
}

#welcome {
    width: 360px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    padding: 10px;
    border: 4px dashed #EEC759;
    margin: 0 auto;
}

.list {
    width: 230px;
    padding: 10px 6px;
    border: 4px double #EEC759;
}


.recipes {
    font-family: 'Courier New', Courier, monospace;
}

